
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

* {
    font-family: nunito,sans-serif;
}

body {
    margin: 0;
}

#titulo {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: white;
}

#salesianos {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#portada {
    position: absolute;
    background-image: url("../img/servidores.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    width: 100%;
    top: 0;
    height: 100%;
}

#retorno {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#menu {
    position: fixed;
    top: 0;
    background-color: rgba(128, 128, 128, 0.9);
    color: white;
    width: 50px;
    height: 50px;
    margin: 0;
}

#general {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
}

#img {
    position: fixed;
    top: 4px;
    left: 4px;
    width: 40px;
    height: 40px;
}

.lista {
 display: none;
}

.clase{
   position: fixed;
   top: 50px;
   left: 0;
   max-width: 300px;
   width: 30%;
   background-color: black;
   display: block;
   padding-right: 20px;
}

#todo {
    border-top: 2px solid black;
    position: absolute;
    top: 100%;
    width: 100%;
    background-image: url("../img/fondo2.jpg");
    background-size: cover;
    background-position: top right;
    padding-top: 50px;
}

#texto {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
    margin: auto;
    max-width: 1000px;
    text-align: justify;
    padding-top: 10px;
}

.ejercicios {
    margin: 0 30px;
}

li a {
    color: white;
    text-decoration: none;
}

.ejercicios #e2,#e3,#e4,#e5 {
    margin-top: 80px;
}

cite {
    margin: 10px;
    font-size: 1.3em;
    color: white;
}

.ejercicios figure img {
    max-width: 100%;
}
.ejercicios figure {
    max-width: 100%;
    margin: 0;
}

figcaption {
    font-style: italic;
    font-size: small;
    color: #616161;
}
